@import 'tailwindcss';

:root {
  --background: #141414;
  --layerBackground: #202020;
  --hoverBackground: #302e30;
  --hoverBackgroundAccent: #004a77;
  --selectedBackground: #404040;
  --negativeBackground: #e52b05;

  --neutral: white;
  --neutralMuted: #e0e0e0;
  --neutralSubtle: #b2b0b2;
  --neutralPlaceholder: #797878;
  --neutralInspector: #a19da1;

  --blueAccent: #2d79e6;
}

@theme inline {
  --color-background: var(--background);
  --color-layerBackground: var(--layerBackground);
  --color-hoverBackground: var(--hoverBackground);
  --color-hoverBackgroundAccent: var(--hoverBackgroundAccent);
  --color-selectedBackground: var(--selectedBackground);
  --color-negativeBackground: var(--negativeBackground);

  --color-neutral: var(--neutral);
  --color-neutralMuted: var(--neutralMuted);
  --color-neutralSubtle: var(--neutralSubtle);
  --color-neutralPlaceholder: var(--neutralPlaceholder);
  --color-neutralInspector: var(--neutralInspector);

  --color-blueAccent: var(--blueAccent);
}
