@import 'tailwindcss';

:root {
  --background: #141414;
}

@theme inline {
  --color-background: var(--background);
}

html,
body {
  width: 100%;
  height: 100%;

  background-color: var(--background);
  color: white;
}
